<div class="payment-method">
  <diV class="header">
    <app-header2></app-header2>
  </diV>
  <div class="background">
    <div class="visa">
      <div class="visa-inner">
        <div><img src="../../../../assets/images/Visa Logo.png" /></div>
        <div class="number">2222 2222 2222 2222</div>
        <div class="time">
          <span>CARD HOLDER</span>
          <span>EXP DATE</span>
        </div>
        <div class="name">
          <SPAN>Marius Moller</SPAN>
          <SPAN class="date">19.05</SPAN>
        </div>
      </div>
    </div>
    <div class="inputs poppins">
      <input class="poppins" placeholder="number" />
      <input class="poppins" placeholder="Card Holder" />
      <input class="poppins" placeholder="Expire Date" />
    </div>
  </div>
  <div class="buttons">
    <div class="ship-button">
      <ion-button class="button">PAY NOW</ion-button>
    </div>
    <div class="ship-button">
      <ion-button color="dark" class="button">PAY WITH PAYPAL</ion-button>
    </div>
  </div>
</div>
