<div class="option-outer-23634">
  <div class="heading-box-263456">
    <div class="heading bebas bold">WHO ARE YOU?</div>
  </div>
  <div class="selection-outer-79857">
    <img class="tags-top" src="assets/svgs/puzzle-yello-student.svg" />
    <div class="image-box">
      <img class="zoom-3253" src="assets/images/ab45.png" />
    </div>
  </div>
  <div class="selection-outer-79857">
    <img class="tags-top" src="assets/svgs/puzzle-red-student.svg" />
    <div class="image-box">
      <img class="zoom-3253" src="assets/images/ab46.png" />
    </div>
  </div>
</div>
