.login-outer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  margin-top: 40px;
  .login-with-main {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    span {
      font-size: 20px;  
      color: #ffffff;
      font-weight: 800;
    }
    .logos {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-evenly;
      margin: auto;
      width: 40%;
      margin-top: 0;
    }
    .go-to-signup {
      width: 63%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
      margin-top: 80px;
      span {
        font-size: 14px;
      }
    }
  }
}
.login-inner {
  width: 100%;
  h1 {
    font-size: 37px;
    color: #ffffff;
    font-weight: 800;
  }
  .forgot {
    font-size: 15px;
    margin-top: 20px;
    color: #ffffff;
  }
  .input-main {
    .input {
      width: 100%;
      margin-top: 20px;
      ion-input {
        width: 100px;
      }
    }
  }
  .button {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 700;
  }
}
