<ion-content class="ion-padding">
  <div class="main">
    <div class="login-outer">
      <div class="login-inner">
        <h1 class="bebas">SIGN IN</h1>
        <form [formGroup]="aForm">
          <ion-list class="input-main">
            <ion-item color="dark" class="input-item input">
              <ion-input color="light" formControlName="email" type="email" placeholder="Email"></ion-input>
            </ion-item>
            <ion-item color="dark" class="input-item input">
              <ion-input color="light" type="password" formControlName="password" placeholder="Password"></ion-input>
            </ion-item>
            <div class="mb-rt">
              <ion-button
                (click)="signIn()"
                class="button"
                color="primary"
                expand="block"
                >SIGN IN</ion-button
              >
            </div>
          </ion-list>
        </form>
        <div class="bebas forgot">FORGOT PASSWORD</div>
      </div>

      <div class="login-with-main">
        <!-- <span class="poppins"> SIGN IN WITH</span>
        <div class="logos">
          <img src="./../../../../assets/images/logosapple.png" />
          <img src="./../../../../assets/images/facebook-logo.png" />
          <img src="./../../../../assets/images/google-logo.png" />
        </div> -->
        <div class="go-to-signup" (click)="signUp()">
          <span>Don't have an account?</span>
          <ion-button fill="clear" color="primary">SIGN UP</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
