<div class="therapist-sc bg-black-shade">
  <div class="th-sc">
    <h3>Find A Therapist</h3>
    <a (click)="goToTherapists()">SEE ALL</a>
  </div>

  <div class="rating-sc">
    <img src="assets/images/ab46.png" alt="" class="rt-profile" />
    <div class="rating-content">
      <div class="rt-box">
        <h4>Sabastan Moore</h4>
        <img src="assets/svgs/rating.svg" alt="" />
      </div>
      <h6>M.A., LPC</h6>
      <p>Sabastan Moore is a state certified Therapist servicing...</p>
    </div>
  </div>
  <div class="rating-sc">
    <img src="assets/images/ab46.png" alt="" class="rt-profile" />
    <div class="rating-content">
      <div class="rt-box">
        <h4>Sabastan Moore</h4>
        <img src="assets/svgs/rating.svg" alt="" />
      </div>
      <h6>M.A., LPC</h6>
      <p>Sabastan Moore is a state certified Therapist servicing...</p>
    </div>
  </div>
</div>
