<ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar class="light-black-green-bg" slot="bottom">
      <ion-tab-button class="tab-btn" tab="dashboard">
        <img src="assets/svgs/home.svg" />
      </ion-tab-button>

      <ion-tab-button class="tab-btn" tab="therapist-directory">
        <img src="assets/svgs/task.svg" />
      </ion-tab-button>

      <ion-tab-button class="tab-btn" tab="student-chat">
        <img src="assets/svgs/chat.svg" />
      </ion-tab-button>

      <ion-tab-button class="tab-btn" tab="task-manager">
        <img src="assets/svgs/calender.svg" />
      </ion-tab-button>

      <ion-tab-button class="tab-btn" tab="shop">
        <img src="assets/svgs/shop.svg" />
      </ion-tab-button>

      <ion-tab-button class="tab-btn" tab="student-profile">
        <img src="assets/svgs/profile.svg" />
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-router-outlet>
