<div class="pro-add-sc">
  <div class="pro-dt">
    <div class="pr-content">
      <img src="assets/images/ab45.png" alt="" />

      <div>
        <h4>Good Morning,</h4>
        <h2>CONRAD WEBSTER</h2>
      </div>
    </div>

    <div class="add-user">
      <a (click)="gotoCreateTask()">
        <img src="assets/svgs/add.svg" />
      </a>
    </div>
  </div>

  <div class="search-input">
    <img src="assets/svgs/search.svg" alt="" />
    <input type="search" name="" id="" />
  </div>
</div>
