<div class="my-task">
  <h3>My Task Manager</h3>

  <div class="my-task-ar">
    <ul>
      <li><a href="#">Today</a></li>
      <li>
        <a href="#">Upcoming <span class="blue-point"></span></a>
      </li>
      <li>
        <a href="#">Due Soon <span class="green-point"></span></a>
      </li>
      <li>
        <a href="#">Completed <span class="yellow-point"></span></a>
      </li>
    </ul>
  </div>

  <div (click)="gotoTaskCalender()" class="task-main-bx">
    <div class="meeting-bx">
      <div class="mt-shed">
        <h4>Meeting With Dr. Brandon King</h4>
        <p>Via Zoom Call</p>
      </div>
      <div class="more">
        <a href="#">
          <img src="assets/svgs/more.svg" alt="" />
        </a>
      </div>
    </div>
    <hr class="br-line" />
    <div class="meeting-bx">
      <div class="mt-shed time">
        <div class="svg-sc">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="17.4"
            height="17.4"
            viewBox="0 0 17.4 17.4"
          >
            <g id="Icon" transform="translate(0.7 0.7)">
              <circle
                id="Oval"
                cx="8"
                cy="8"
                r="8"
                fill="none"
                stroke="#fff"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-miterlimit="10"
                stroke-width="1.4"
              />
              <path
                id="Path"
                d="M0,0V4.8L3.2,6.4"
                transform="translate(8 3.2)"
                fill="none"
                stroke="#fff"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-miterlimit="10"
                stroke-width="1.4"
              />
            </g>
          </svg>
        </div>

        <div class="">
          <h6>August 15th, 2022</h6>
          <p>11:00 AM - 12:00 PM</p>
        </div>
      </div>
      <div class="more">
        <span>IN PROGRESS</span>
      </div>
    </div>
  </div>
  <h5 class="hd-sc">Upcoming</h5>
  <div (click)="gotoTaskCalender()" class="task-main-bx">
    <div class="meeting-bx">
      <div class="mt-shed">
        <h4>Meeting With Dr. Brandon King</h4>
        <p>Via Zoom Call</p>
      </div>
      <div class="more">
        <a href="#">
          <img src="assets/svgs/more.svg" alt="" />
        </a>
      </div>
    </div>
    <hr class="br-line" />
    <div class="meeting-bx">
      <div class="mt-shed time">
        <div class="svg-sc">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="17.4"
            height="17.4"
            viewBox="0 0 17.4 17.4"
          >
            <g id="Icon" transform="translate(0.7 0.7)">
              <circle
                id="Oval"
                cx="8"
                cy="8"
                r="8"
                fill="none"
                stroke="#fff"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-miterlimit="10"
                stroke-width="1.4"
              />
              <path
                id="Path"
                d="M0,0V4.8L3.2,6.4"
                transform="translate(8 3.2)"
                fill="none"
                stroke="#fff"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-miterlimit="10"
                stroke-width="1.4"
              />
            </g>
          </svg>
        </div>

        <div class="">
          <h6>August 15th, 2022</h6>
          <p>11:00 AM - 12:00 PM</p>
        </div>
      </div>
      <div class="more">
        <span class="blue-point">UPCOMING</span>
      </div>
    </div>
  </div>
</div>
