<ion-content>
  <swiper>
    <ng-template swiperSlide>
      <app-shop-home class="full-width-height-23464"></app-shop-home>
    </ng-template>
    <ng-template swiperSlide>
      <app-shop-product class="full-width-height-23464"></app-shop-product
    ></ng-template>
    <ng-template swiperSlide>
      <app-products-list class="full-width-height-23464"></app-products-list
    ></ng-template>
    <ng-template swiperSlide>
      <app-shipping-method class="full-width-height-23464"></app-shipping-method
    ></ng-template>
    <ng-template swiperSlide>
      <app-payment-method class="full-width-height-23464"></app-payment-method>
    </ng-template>
  </swiper>
</ion-content>
