<ion-content>
  <div class="therapist-home">
    <div class="header">
      <header [title]="'Student Profiles'"></header>
    </div>

    <div class="grid">
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let item of [1, 3, 4, 5, 3, 4]">
            <div class="item-box">
              <div class="item">
                <!-- <img class="img" src="../../../../assets/images/boy-second.png" /> -->
                <div class="img"></div>
                <div class="student poppins">Student 1</div>
                <div class="title poppins">Sed ut pereaffasssdad</div>
                <div class="stars">
                  <ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon
                  ><ion-icon name="star"></ion-icon>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="course">
      <span class="title poppins">Student Meetings</span>
      <span class="see poppins">SEE All MEETINGS</span>
    </div>
    <div class="join-meeting">
      <div class="join-inner">
        <div class="text">
          <span class="on poppins">ONGOING MEETING</span>
          <span class="name poppins">Student Name</span>
          <span class="zoom poppins">Via Zoom Call</span>
        </div>
        <div class="button">JOIN MEETING</div>
        <div class="profile">
          <div class="prof">
            <img src="../../../../assets/images/Mask.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
