<div class="main">
  <div class="activity-box">
    <div class="img">
      <img src="../../../../assets/svgs/activity-img.svg" />
    </div>
    <div class="text poppins">
      <div class="head">
        <span class="poppins"> Black boy herdassa </span>
        <span class="time poppins">Sun, 18 July 2022</span>
      </div>
      <span class="div-text poppins">
        aslkdjsaldkjsalkdjslkajdlsajasdkjhasjkd;
      </span>
      <div class="images">
        <img class="img" src="../../../../assets/images/ab45.png" />
        <img class="img" src="../../../../assets/images/ab45.png" />
        <img class="img" src="../../../../assets/images/ab45.png" />
      </div>
      <!-- <ion-label floating>Profile Picture</ion-label>
      <ion-input type="file"></ion-input> -->
    </div>
  </div>
  <div class="activity-box2">
    <div class="img">
      <img src="../../../../assets/svgs/activity-img.svg" />
    </div>
    <div class="text poppins">
      <div class="head">
        <span class="poppins"> Black boy herdassa </span>
        <span class="time poppins">Sun, 18 July 2022</span>
      </div>
      <span class="div-text poppins">
        aslkdjsaldkjsalkdjslkajdlsajasdkjhasjkd;
      </span>
      <div class="images">
        <img src="../../../../assets/svgs/pdficon.svg" />
        <div class="img-text">
          <span class="title">Presentation</span>
          <span class="mb">5 MB</span>
        </div>
      </div>
      <!-- <ion-label floating>Profile Picture</ion-label>
      <ion-input type="file"></ion-input> -->
    </div>
  </div>
</div>
