<div class="fp-outer-549">
  <div class="main-image-section">
    <img src="assets/images/blue-boy.png" />
  </div>
  <div class="black-box-section">
    <div class="heading-box head">
      <div class="outer-heading">
        <div class="heading bebas bold">JOIN BLACK BOY HEAL</div>
        <div class="subheading poppins scroling">
          <div class="content">
            We believe that our platform should inspire you to be the best
            version of yourself.
          </div>
          <div class="content-options">
            <div class="cn-opt">
              <ion-icon color="primary" name="checkmark-circle"></ion-icon>
              <div class="label-6987 poppins light">
                Professional Zoom Calls with Therapist
              </div>
            </div>
            <div class="cn-opt">
              <ion-icon color="primary" name="checkmark-circle"></ion-icon>
              <div class="label-6987 poppins light">
                Dozens of Ready-Made Workshops
              </div>
            </div>
            <div class="cn-opt">
              <ion-icon color="primary" name="checkmark-circle"></ion-icon>
              <div class="label-6987 poppins light">
                Create Your Own Personal Profile
              </div>
            </div>
            <div class="cn-opt">
              <ion-icon color="primary" name="checkmark-circle"></ion-icon>
              <div class="label-6987 poppins light">
                Daily Affirmation Healings
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="package-box">
        <div class="pack-item i2464">
          <div class="pkg-type">Monthly</div>
          <div class="pkg-price">$19.99</div>
          <div class="pkg-type-2">per month</div>
        </div>
        <div class="pack-item i2465">
          <ion-badge color="primary" class="promo-badge">save 50%</ion-badge>
          <div class="pkg-type poppins medium">Yearly</div>
          <div class="pkg-price poppins semibold">$119.99</div>
          <div class="pkg-type-2 poppins semibold italic">per year</div>
        </div>
      </div>

      <div class="mb-rt">
        <ion-button color="primary" expand="block">CONTINUE</ion-button>
        <p class="cn-div poppins medium italic">
          If you have any questions before joining, please contact us at
          info@blackboyheal.org
        </p>
      </div>
    </div>
  </div>
</div>
