<!-- <ion-header>
  <ion-toolbar>
    <ion-title>student-profile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="user-profile-main">
    <div class="bg-img">
      <img
        src="./../../../assets/images/drawable-mdpi/138787538_3919263608108366_1402312909687050101_n.png"
      />
    </div>
    <img
      class="profile-img"
      src="./../../../assets/images/profile-trimmy-trimmy-PhotoRoom.png"
    />
    <div class="details-main">
      <div class="user-name">
        <span class="name poppins">JAMES TAYLOR</span>
        <span class="location poppins">
          <img src="./../../../assets/images/drawable-hdpi/Icon.png" />

          Houston, USA
        </span>
      </div>
      <div class="add-button">
        <ion-button class="button" color="primary">ADD FRIEND</ion-button>
        <ion-button class="button2" color="dark">Message</ion-button>
      </div>
      <div class="line"></div>
      <div class="about">
        <p class="about-name poppins">ABOUT JAMES</p>
        <div class="desc">
          <p class="poppins">
            Sed pellentesque est vel ante accumsan moll Vivamus efficitur augue
            justo, sit amet tincidunt ligula finibus sit amet. Donec dui libero,
            porttitor.
          </p>
          <p class="poppins">
            Sed dapibus euismod urna. Vivamus mollis, mauris nec porttitor
            mattis, mi felis consectetur velit derat aenean cursus nec sapien
            sit amet molestie donec consectetur a felis eget rhoncus.
          </p>
        </div>
      </div>
    </div>
    <div class="slider">
      <app-friend-slider></app-friend-slider>
    </div>
  </div>
</ion-content>
