<div class="custom-ion-content">
  <swiper>
    <!-- <ng-template swiperSlide>
      <app-welcome-slide class="full-width-height-23464"></app-welcome-slide>
    </ng-template>
    <ng-template swiperSlide>
      <app-care-slide class="full-width-height-23464"></app-care-slide>
    </ng-template>
    <ng-template swiperSlide>
      <app-reps-slide class="full-width-height-23464"></app-reps-slide>
    </ng-template>
    <ng-template swiperSlide>
      <app-reach-slide class="full-width-height-23464"></app-reach-slide>
    </ng-template>
    <ng-template swiperSlide>
      <app-join-slide class="full-width-height-23464"></app-join-slide>
    </ng-template> -->
    <ng-template swiperSlide>
      <app-option-slide class="full-width-height-23464"></app-option-slide>
    </ng-template>
  </swiper>
</div>
