<ion-content>
  <app-login-view class="full-width-height-23464" (signUpEvent)="signUp()"></app-login-view>
  <!-- <swiper>
    <ng-template swiperSlide>
      <app-login-view class="full-width-height-23464"></app-login-view>
    </ng-template>
    <ng-template swiperSlide>
      <app-signup-view class="full-width-height-23464"></app-signup-view>
    </ng-template>
    <ng-template swiperSlide>
      <app-phone-verification-view
        class="full-width-height-23464"
      ></app-phone-verification-view>
    </ng-template>
  </swiper> -->
</ion-content>
