<div class="product-main">
  <app-header></app-header>

  <!-- <div class="bg"> -->
  <div class="product-img"></div>
  <div class="layer">
    <div class="product-name poppins">Broken Crayon Hoodie</div>
    <div class="product-size">
      <span class="title poppins">Original Item</span>
      <div class="sizes">
        <div class="title poppins">Size :</div>
        <div class="size-main">
          <div class="s">S</div>
          <div class="m">M</div>
          <div class="l">L</div>
          <div class="xl">XL</div>
          <div class="xxl">XXL</div>
        </div>
      </div>
      <div class="colors">
        <span>Color :</span>
        <div class="colors-main">
          <div class="color1"></div>
          <div class="color2"></div>
          <div class="color3"></div>
          <div class="color4"></div>
          <div class="color5"></div>
        </div>
      </div>
    </div>
    <div class="buy">
      <div class="buy-inner">
        <div class="quantity">
          <span (click)="onDecrement()"> - </span>
          <p>1</p>
          <span (click)="onIncrement()"> + </span>
        </div>
        <div class="price">$75</div>
        <div (click)="goToCart()" class="trawly">
          <img src="../../../../assets/images/Icon - Buy.png" /> Buy
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
