<div class="fp-outer-544">
  <div class="main-image-section">
    <img src="  assets/images/resp-bg.png" />
  </div>
  <div class="black-box-section">
    <div class="heading-box">
      <div class="outer-heading">
        <div class="heading bebas bold">
          our representation <br />of therapist
        </div>
        <div class="subheading bebas">
          <div>
            AT BLACK BOY HEAL, WE SEEK TO BRIDGE THE GAP BETWEEN MEN OF COLOR
            AND THERAPY. WE PROVIDE A SAFE SPACE WITH THERAPIST OF COLOR TO HELP
            ELIMINATE THE STIGMA THAT THERAPY IS FOR THE WEAK, FEARFUL AND
            VULNERABLE.
          </div>
        </div>
      </div>

      <div class="mb-rt">
        <ion-button color="primary" expand="block">NEXT</ion-button>
      </div>
    </div>
  </div>
</div>
