.header {
  height: 150px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: #293132;
  border-radius: 0 0 25px 25px;

  h5 {
    font-size: 8px;
    color: #fff017;
    position: relative;
    bottom: 15px;
    left: 5px;
  }

  img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    opacity: 60%;
    border-radius: 0 0 25px 25px;
  }
  .main-img {
    position: relative;
    bottom: 5rem;
    img {
      height: 110px;
      opacity: 100%;
      width: 110px;
    }
  }
}

.inputs {
  height: auto;
  width: 90%;
  margin-top: 60px;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .box {
    margin-top: 15px;
    .about {
      height: 150px;
    }
  }

  input {
    margin-top: 10px;
    height: 64px;
    width: 345px;
    justify-content: center;
    border: none;
    padding: 15px;
    background-color: #293132;
    border-radius: 10px;
  }
  ion-button {
    margin-top: 25px;
    height: 60px;
    width: 345px;
  }
}
