.screen {
  height: 100%;
  width: 100%;
}

.content {
  color: white;
  padding-top: 150px;

  h6 {
    font-size: 25px;
    font-weight: bold;
  }

  .change {
    color: #ffd948;
  }
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10% !important;
  justify-content: space-evenly;

  .box1 {
    height: 64px;
    width: 65px;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    padding-top: 20px;
  }
}

.text {
  margin: 10px;
  color: white;
  font-size: 15px;

  .resend {
    color: #ffd948;
    padding: 10%;
    font-weight: 600;
  }

  .skip {
    color: #ffd948;
    margin-top: 10px;
  }
}

.contact {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;

  .number {
    height: 46px;
    width: 118px;
    border-radius: 4px;
    background-color: white;
    text-align: center;
    font-weight: 600;

    padding-top: 5px;
  }

  .abc {
    font-size: 14px;
  }
}
