<ion-content>
  <div class="screen">
    <div class="content">
      <h6>PHONE VERIFICATION</h6><br>
      <span>we sent a code to number</span><br>
      <span>(555)-555 5555</span><br>
      <span class="change">change</span>
    </div>

    <div class="box ">
      <div class="box1">1</div>
      <div class="box1">2</div>
      <div class="box1">3</div>
      <div class="box1">4</div>

    </div>
    <div class="text">
      <span>Didn't receive your code?</span><span class="resend">Resend</span><br>
      <p class="skip">SKIP</p>
    </div>

    <div class="contact" style="margin-top: 60px">
      <div class="number">1</div>
      <div class="number">2 <br>
        <span class="abc"> ABC</span>
      </div>
      <div class="number">3 <br>
        <span class="abc"> ABC</span>
      </div>
    </div>

    <div class="contact" style="margin-top: 10px">
      <div class="number">4</div>
      <div class="number">5 <br>
        <span class="abc"> ABC</span>
      </div>
      <div class="number">6 <br>
        <span class="abc"> ABC</span>
      </div>

    </div>
    <div class="contact" style="margin-top: 10px">
      <div class="number">7</div>
      <div class="number">8 <br>
        <span class="abc"> ABC</span>
      </div>
      <div class="number">9<br>
        <span class="abc"> ABC</span>
      </div>

    </div>
    <div class="contact " style="margin-top: 10px">
      <div class="number" style="padding-top: 10px;">0</div>

    </div>


  </div>
</ion-content>