<ion-content class="ion-padding">
  <div class="screen">
    <div class="content">
      <h6>PHONE VERIFICATION</h6>
      <br />
      <span>we sent a code to number</span><br />
      <span>(555)-555 5555</span><br />
      <span class="change" (click)="change()">change</span>
    </div>

    <div class="box">
      <div class="box1">1</div>
      <div class="box1">2</div>
      <div class="box1">3</div>
      <div class="box1">4</div>
    </div>
    <div class="text">
      <span>Didn't receive your code?</span><span class="resend" (click)="Resend()">Resend</span
      ><br />
      <!-- <p class="skip">SKIP</p> -->
    </div>
  </div>
</ion-content>
