<ion-content class="ion-padding">
  <div class="screen">
    <div class="content">
      <h6>PHONE VERIFICATION</h6>
      <br />
      <span>we sent a code to number</span><br />
      <span>(555)-555 5555</span><br />
      <span class="change">change</span>
    </div>

    <div class="box">
      <ng-otp-input class="box1" [config]="config"></ng-otp-input>
    </div>
      
    <div class="text">
      <span>Didn't receive your code?</span><span class="resend">Resend</span
      ><br />
      <p class="skip">SKIP</p>
    </div>
  </div>
</ion-content>
  