<div class="date-main">
  <div class="date-td">
    <h3 *ngIf="showTodaysDate">Today's Date</h3>

    <div class="dates">
      <swiper pager="true" [slidesPerView]="7" class="swiper-outer">
      <ng-template
            swiperSlide
            class="swiper-inner"
            *ngFor="let item of array"
          >
          <button class="btn-dates" [ngClass]="{'active-date' : item.date === currentday}"  >
            <p>{{item.day}}</p>
            <h4 class="poppins semibold">{{item.date}}</h4>
          </button>
          </ng-template>
        </swiper>
      <!-- <button class="btn-dates">
        <p>MON</p>
        <h4 class="poppins semibold">12</h4>
      </button>
      <button class="btn-dates">
        <p>TUE</p>
        <h4 class="poppins semibold">12</h4>
      </button>
      <button class="btn-dates">
        <p>WED</p>
        <h4 class="poppins semibold">12</h4>
      </button>
      <button class="btn-dates">
        <p>THU</p>
        <h4 class="poppins semibold">12</h4>
      </button>
      <button class="btn-dates active-date">
        <p>FRI</p>
        <h4 class="poppins semibold">12</h4>
      </button>
      <button class="btn-dates">
        <p>MON</p>
        <h4 class="poppins semibold">12</h4>
      </button>
      <button class="btn-dates">
        <p>MON</p>
        <h4 class="poppins semibold">12</h4>
      </button> -->
    </div>
  </div>
</div>
