<div class="date-main bg-black-shade">
  <div class="date-td">
    <h3>Today's Date</h3>

    <div class="dates">
      <button class="btn-dates">
        <p>MON</p>
        <h4 class="poppins semibold">12</h4>
      </button>
      <button class="btn-dates">
        <p>TUE</p>
        <h4 class="poppins semibold">12</h4>
      </button>
      <button class="btn-dates">
        <p>WED</p>
        <h4 class="poppins semibold">12</h4>
      </button>
      <button class="btn-dates">
        <p>THU</p>
        <h4 class="poppins semibold">12</h4>
      </button>
      <button class="btn-dates active-date">
        <p>FRI</p>
        <h4 class="poppins semibold">12</h4>
      </button>
      <button class="btn-dates">
        <p>MON</p>
        <h4 class="poppins semibold">12</h4>
      </button>
      <button class="btn-dates">
        <p>MON</p>
        <h4 class="poppins semibold">12</h4>
      </button>
    </div>
  </div>
</div>
