<div class="chat-box-main">
  <div class="header">
    <div class="left">
      <img src="../../../../assets/icon/grocery mpbile.png" />
    </div>
    <div class="right">
      <div class="name poppins">SABASTAN</div>
      <div class="day poppins">Today</div>
    </div>
  </div>
  <div class="chat-box">
    <div class="time-details">
      <img src="../../../../assets/icon/Images.png" />
      <span class="poppins"> March 28,2018 11:50</span>
    </div>
    <div class="line"></div>
    <div class="messages">
      <div class="text-message">
        <div class="text poppins">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ea
        </div>
        <span class="mtime poppins">0.1:15 PM</span>
      </div>
      <div class="text-message2">
        <div class="text poppins">Lorem ipsum dolor sit</div>
        <span class="mtime poppins">0.1:15 PM</span>
      </div>
      <div class="text-message3">
        <div class="text poppins">
          <img src="./../../../../assets/images/Volume Line.png" />
          <span>01:35</span>
          <img src="../../../../assets/images/Play Icon.png" />
        </div>
        <span class="mtime poppins">0.1:15 PM</span>
      </div>
      <div class="text-message4">
        <div class="text poppins">
          Lorem ipsum dolor sitLorem ipsum dolor thisdnsd djshjd
        </div>
        <span class="mtime poppins">0.1:15 PM</span>
      </div>
      <div class="type-box">
        <img src="./../../../../assets/images/camera icon.png" />
        <input type="text" placeholder="Type a Message" />
        <img src="../../../../assets/images/Send icon.png" />
      </div>
    </div>
  </div>
</div>
