<div class="fp-outer-544">
  <div class="main-image-section">
    <img src="assets/images/reach-smiles.png" />
  </div>
  <div class="black-box-section">
    <div class="heading-box">
      <div class="outer-heading">
        <div class="heading bebas bold">
          reach one,
          <br />each one!
        </div>
        <div class="subheading bebas scroling">
          <div>
            We understand that school can add more weight than release, so we
            have created programs and strategies that are used by many schools
            to increase the academic achievement of students.
          </div>
        </div>
      </div>

      <div class="mb-rt">
        <ion-button (click)="moveNext()" color="primary" expand="block"
          >EXPLORE BLACK BOY HEAL</ion-button
        >
      </div>
    </div>
  </div>
</div>
