<div class="main">
  <div class="task-name">
    <span class="title poppins">Task Name</span>
    <div class="input-outer">
      <input class="poppins" placeholder="Enter Task Name" />
    </div>
  </div>
  <div class="task-date">
    <span class="title poppins">Task Dates</span>
    <div class="input-outer">
      <input type="date" placeholder="Enter Task Date" />
      <!-- <ion-icon item-end name="calendar"></ion-icon> -->
    </div>
  </div>
  <div class="desc">
    <span class="title poppins">Description</span>
    <ion-textarea class="poppins"> </ion-textarea>
  </div>
  <div class="task-date">
    <span class="title poppins">Deadline</span>
    <div class="input-outer">
      <input type="date" placeholder="Enter Task Date" />
      <!-- <ion-icon  item-end name="calendar"></ion-icon> -->
    </div>
  </div>
  <div class="attach-file">
    <span class="title poppins">Attach File</span>
    <div class="input-outer">
      <input class="poppins" placeholder="Enter Task Date" />
      <ion-icon class="icon" item-end name="link"></ion-icon>
    </div>
  </div>
</div>
