<header [showMenu]="true" [showBack]="false" [showBell]="true"></header>

<ion-content class="poppins">
  <app-welcome-box></app-welcome-box>
  <app-dashboard-date-box></app-dashboard-date-box>
  <app-dashboard-quote-box></app-dashboard-quote-box>
  <app-dashboard-weeklytask-box></app-dashboard-weeklytask-box>
  <app-dashboard-workbook-box></app-dashboard-workbook-box>
  <app-dashboard-myprofile-box></app-dashboard-myprofile-box>
  <app-dashboard-find-therapist-box></app-dashboard-find-therapist-box>
  <app-dashboard-shop-box></app-dashboard-shop-box>
</ion-content>
