<div class="main">
  <div class="date-time">
    <ion-datetime
      class="poppins"
      color="light"
      presentation="date"
    ></ion-datetime>
  </div>
  <div class="task-date">
    <span class="title poppins">30 September 2022</span>
    <div class="outer">
      <div class="text-main">
        <div class="text poppins">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quam sit
          lroem20
        </div>
        <div class="icons">
          <ion-icon name="bookmark"></ion-icon>
          <ion-icon color="light" name="menu-outline"></ion-icon>
        </div>
      </div>
      <div class="icons-main">
        <div class="time-main">
          <ion-icon name="time"></ion-icon>
          <span class="poppins">02:00 PM</span>
        </div>
        <div class="images">
          <img
            *ngFor="let item of [1, 2, 3, 4]"
            src="../../../../assets/svgs/notificationImg.svg"
          />
        </div>
      </div>
    </div>
    <div class="outer2">
      <div class="text-main">
        <div class="text poppins">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quam sit
          lroem20
        </div>
        <div class="icons">
          <ion-icon name="bookmark"></ion-icon>
          <ion-icon color="light" name="menu-outline"></ion-icon>
        </div>
      </div>
      <div class="icons-main">
        <div class="time-main">
          <ion-icon name="time"></ion-icon>
          <span class="poppins">02:00 PM</span>
        </div>
        <div class="images">
          <img
            *ngFor="let item of [1, 2, 3, 4]"
            src="../../../../assets/svgs/notificationImg.svg"
          />
        </div>
      </div>
    </div>
  </div>
</div>
