<div class="fp-outer-544">
  <div class="main-image-section">
    <img src="assets/images/boy-second.png" />
  </div>
  <div class="black-box-section">
    <div class="heading-box">
      <div class="outer-heading">
        <div class="heading bebas bold">WE CARE ABOUT<br />YOUR WELLNESS</div>
        <div class="subheading bebas">
          <div>
            Black boy heal believes in the act of practicing healthy habits on a
            daily basis to attain better physical and mental health outcomes, so
            that instead of just surviving, you're thriving.
            <br />
            <ion-text color="primary" class="link-like"
              >CLICK HERE TO VIEW OUR WELLNESS WORKBOOK.</ion-text
            >
          </div>
        </div>
      </div>

      <div class="mb-rt">
        <ion-button color="primary" expand="block">NEXT</ion-button>
      </div>
    </div>
  </div>
</div>
