<div class="shipping-method">
  <diV class="header">
    <app-header2></app-header2>
  </diV>
  <div class="heading">Choose your shipping method</div>
  <div class="background">
    <div class="selected-package">
      <div class="package-inner">
        <span class="name poppins">Standard Shipping</span>
        <span class="price poppins">$ 4.95</span>
      </div>
      <div class="text Roboto poppins">
        Lorem ipsum dolor sit amet consecte dhaksjdhaksjdh
      </div>
    </div>
    <div class="package">
      <div class="package-inner">
        <span class="name poppins">Standard Shipping</span>
        <span class="price poppins">$ 4.95</span>
      </div>
      <div class="text Roboto poppins">
        Lorem ipsum dolor sit amet consecte dhaksjdhaksjdh
      </div>
    </div>
    <div class="package">
      <div class="package-inner">
        <span class="name poppins">Standard Shipping</span>
        <span class="price poppins">$ 4.95</span>
      </div>
      <div class="text Roboto poppins">
        Lorem ipsum dolor sit amet consecte dhaksjdhaksjdh
      </div>
    </div>
  </div>
  <div class="checkout-button">
    <ion-button (click)="goToPayment()" class="button"
      >GO TO CHECKOUT</ion-button
    >
  </div>
</div>
