<div class="shop-sc">
  <div class="th-sc">
    <h3>Shop Black Boy Heal Store</h3>
    <a href="#">SEE ALL</a>
  </div>

  <div class="product-box">

    <div class="pro-uper">
      <div class="liked">
        <img src="assets/svgs/liked.svg" alt=""><span>931</span>
      </div>
      <div class="verified">
        <img src="assets/svgs/verify.svg" alt=""> <span>verified</span>
      </div>
    </div>

    <div class="product-img">
      <img src="assets/images/pro-1.png" alt="">
    </div>

    <div class="pr-rating">
      <img src="assets/images/Rating.png" alt="">
    </div>

    <h3>Kaplan Cap HipHop</h3>
    <p>$24.95</p>

    <button>Purchase Now</button>
  </div>








</div>