<div class="product-list">
  <diV class="header">
    <app-header2></app-header2>
  </diV>
  <div class="products">
    <div class="product">
      <div class="product-img">
        <img src="../../../../assets/images//Signature-Black-Crayon.png" />
      </div>
      <div class="product-details">
        <div class="name Roboto">Black Boy Heal Broken Crayon</div>
        <span class="price poppins">$ 180</span>
      </div>
      <ion-button class="button">X</ion-button>
    </div>
    <div class="product">
      <div class="product-img">
        <img src="../../../../assets/images//Signature-Black-Crayon.png" />
      </div>
      <div class="product-details">
        <div class="name Roboto">Black Boy Heal Broken Crayon</div>
        <span class="price poppins">$ 180</span>
      </div>
      <ion-button class="button">X</ion-button>
    </div>
    <div class="product">
      <div class="product-img">
        <img src="../../../../assets/images//Signature-Black-Crayon.png" />
      </div>
      <div class="product-details">
        <div class="name Roboto">Black Boy Heal Broken Crayon</div>
        <span class="price poppins">$ 180</span>
      </div>
      <ion-button class="button">X</ion-button>
    </div>
    <div class="ship-button">
      <ion-button class="button">GO TO SHIPPING</ion-button>
    </div>
  </div>
</div>
