<div
  class="person-main"
  (click)="goToChat()"
  *ngFor="let item of [1, 2, 4, 5, 6, 7, 3, 5, 7, 8, 9, 9]"
>
  <div class="left">
    <img src="../../../../assets/images/avatar1.png" />
  </div>
  <div class="right">
    <div class="name">
      <span class="n">Fieece Morigold</span>
      <span class="m"
        >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae
        repellendus quasi distinctio blanditiis repudiandae, doloribus sunt
        autem velit amet magnam optio odit eius culpa vero suscipit aliquam iste
        iusto cum! Deserunt illo ipsa facere numquam dolore! Excepturi eveniet
        ullam eaque assumenda ab, deleniti, esse similique doloremque at
        blanditiis explicabo non.</span
      >
    </div>
    <div class="message">
      <span class="time poppins">15 min</span>
      <span class="m-number poppins">1</span>
    </div>
  </div>
</div>
