.signup-outer {
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  // height: 100vh;
  flex-direction: column;
  margin-top: 15px;
  .signup-with-main {
    // border: 1px solid red;
    // height: 100px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    span {
      font-size: 18px;
      color: #ffffff;
      font-weight: 800;
      margin-top: 10px;
    }
    .logos {
      // border: 1px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-evenly;
      margin: auto;
      width: 40%;
      margin-top: 10px;
      // background-color: black;
    }
    .go-to-login {
      // border: 1px solid red;
      width: 60%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      span {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}
.signup-inner {
  // border: 1px solid red;
  width: 100%;
  h1 {
    font-size: 37px;
    color: #ffffff;
    font-weight: 800;
  }
  .forgot {
    font-size: 15px;
    margin-top: 20px;
    color: #ffffff;

    // border: 1px solid red;
  }
  .input-main {
    .input {
      width: 100%;
      margin-top: 10px;
      
      ion-input {
        width: 100px;
      }
      .check-label {
        font-size: 12px;
        text-align: center;
        font-weight: 300;
      }
    }
  }
  .button {
    margin-top: 15px;
    font-size: 17px;
    font-weight: 700;
  }
}
