<div class="fp-outer-544">
  <div class="main-image-section">
    <img src="assets/images/boy-first.png" />
  </div>
  <div class="black-box-section">
    <div class="heading-box">
      <div class="outer-heading">
        <div class="heading bebas bold">WELCOME TO <br />BLACK BOY HEAL</div>
        <div class="subheading bebas scroling">
          <div>
            Black Boy Heal provides access to mental health treatment to African
            American identified boys (trans, non-binary cisgender), wellness
            plans, and community resources to Black boys in the K-12 school
            system.
          </div>
        </div>
      </div>

      <div (click)="moveNext()" class="mb-rt">
        <img src="assets/images/puzzle-aero.png" />
      </div>
    </div>
  </div>
</div>
