<header [title]="'Meetings Statistics'"></header>

<ion-content>
  <div class="therapist-stats">
    <div class="schedule">
      <div class="talk poppins">
        Total Talk Time
        <div class="time">
          <span class="num poppins">45</span>
          <span class="min poppins">mins</span>
        </div>
      </div>
      <div class="members poppins">
        Total Talk Time
        <div class="time">
          <span class="num poppins">6</span>
          <span class="min poppins">members</span>
        </div>
      </div>
      <div class="topics poppins">
        Total Talk Time
        <div class="time">
          <span class="num poppins">10</span>
          <span class="min poppins">Topics</span>
        </div>
      </div>
    </div>
    <div class="course">
      <span class="title poppins">Actual vs Planned Times for Meeting</span>
    </div>
    <div class="talk-time-main">
      <div class="progress">
        <img src="../../../../assets/images/Progress Bar.png" />
      </div>
      <div class="time-teller">
        <div class="actual poppins">
          <div class="actual-inner">
            <div class="circle"></div>
            <span class="text poppins">Actual Talk Time</span>
          </div>
          <div class="time">
            <span class="num poppins">32:16</span>
          </div>
        </div>
        <div class="intended poppins">
          <div class="intended-inner">
            <div class="circle"></div>
            <span class="text poppins">Intended Talk Time</span>
          </div>
          <div class="time">
            <span class="num poppins">75:00</span>
          </div>
        </div>
      </div>
    </div>
    <div class="course">
      <span class="title poppins"
        >Actual vs Intended Talk Times Per Topics</span
      >
    </div>

    <div class="topics-main">
      <div class="talk-time-main"></div>
      <div class="progress">
        <img src="../../../../assets/images/Progress Bar.png" />
      </div>
      <div class="time-teller">
        <div class="actual poppins">
          <div class="actual-inner">
            <div class="circle"></div>
            <span class="text poppins">Actual Talk Time</span>
          </div>
          <div class="time">
            <span class="num poppins">32:16</span>
          </div>
        </div>
        <div class="intended poppins">
          <div class="intended-inner">
            <div class="circle"></div>
            <span class="text poppins">Intended Talk Time</span>
          </div>
          <div class="time">
            <span class="num poppins">75:00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
