.header {
  width: 375px;
  margin: auto;
  // border: 1px solid red;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .arrow {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // border: 1px solid red;
    width: 100px;
  }
  .search {
    // border: 1px solid red;
    width: 71px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
