<div class="fp-outer-544">
  <div class="main-image-section">
    <img src="assets/images/cover.png" />
  </div>

  <div class="black-box-section">
    <div class="profile">
      <div class="main-img">
        <div>
          <img src="assets/images/123.png" alt="" />
          <div class="icon">
            <img src="assets/images/Icon.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="heading">
      <h1>CONRAD WEBSTER</h1>
      <div class="location">
        <img src="assets/images/locat.png" />
        <h5>Seattle, USA</h5>
      </div>
    </div>
    <div class="heading-box">
      <div class="mb-rt">
        <ion-button (click)="studentEditProfile()" color="primary" expand="block">EDIT PROFILE</ion-button>
      </div>
    </div>
    <div class="about">
      <h4>ABOUT ME</h4>
      <p>
        Sed pellentesque est vel ante accumsan moll Vivamus efficitur augue
        justo, sit amet tincidunt ligula finibus sit amet. Donec dui libero,
        porttitor.
        <br />
        <br />
        Sed dapibus euismod urna. Vivamus mollis, mauris nec porttitor mattis,
        mi felis consectetur velit derat aenean cursus nec sapien sit amet
        molestie donec consectetur a felis eget rhoncus.
      </p>
    </div>
    <div class="friends-list">
      <div class="friends">
        <h4>Friends (4 Friends)</h4>
        <h4 class="see-all">See All</h4>
      </div>
      <div class="list">
        <div class="friends">
          <img src="assets/images/friend-1.png">
          <h6>Williams Jay</h6>
        </div>
        <div class="friends">
          <img src="assets/images/friend-2.png">
          <h6>Michael Gais</h6>
        </div>
        <div class="friends">
          <img src="assets/images/friend-3.png">
          <h6>Daniel Loz</h6>
        </div>
        <div class="friends">
          <img src="assets/images/friend-4.png">
          <h6>Jason Kyle</h6>
        </div>
      </div>
    </div>
  </div>
</div>
